language: python
cache: pip
python:
  - "2.7"
# command to install dependencies
install:
  - pip install -U pip
  - pip -q install -r requirements.txt
  - pip install -q http://download.pytorch.org/whl/cu80/torch-0.1.12.post2-cp27-none-linux_x86_64.whl

  # dev dependencies
  - pip install nose
  - pip install mock
  - pip install coverage

# command to run tests
script: nosetests --with-coverage --cover-erase --cover-package=seq2seq

dist: trusty
sudo: false
